body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f310;
    text-align: center;
}
input {
    width: 300px;
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f4f4f4;
    color: #2d14cd;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
button {
    padding: 12px 25px;
    font-size: 1em;
    color: #fff;
    background-color: #a29bfe;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    background-color: #6c5ce7;
    box-shadow: 0 4px 15px rgba(231, 92, 208, 0.4);
}
